{% extends "base.html" %}

{% block head_title %}
    About || Ting
{% endblock %}

{% block content %}
    <div class="box_div">
        <h3 class="page_heading">About</h3>
        <hr>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed blandit magna, sed laoreet nunc.
            Vivamus vel enim semper, faucibus erat ut, luctus augue. Nunc dolor sem, blandit eu varius vitae,
            tincidunt ut neque. Praesent dignissim risus congue aliquam volutpat. Nulla facilisi. Nullam
            rhoncus erat vel accumsan semper. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis.
        </p>
    </div>
{% endblock %}