{% extends "base.html" %}

{% block head_title %}
    Welcome || Ting
{% endblock %}

<!-- The main contents of the page. -->
{% block content %}
    <div class="box_div">
    <main class="mdl-layout__content">

        <!-- Sign up tab -->
        <a href="{% url 'website:signup' %}" class="waves-effect waves-light btn-large">Sign up</a>

        <!-- Sign in tab -->
        <a href="{% url 'website:signin' %}" class="waves-effect waves-light btn-large">Sign in</a>

        <!-- Try it out tab -->
        <!-- Commented out for now -->
{#        <section class = "mdl-layout__tab-panel" id = "tryit-tab">#}
{#            <div class = "page-content box_div">#}
{#                Try it out placeholder#}
{#                <div class="mdl-grid">#}
{#                    {% include "sampleapp/piano.html" %}#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

    </main>
    </div>
{% endblock %}

<!-- Commented out for now -->
{#{% if redirect_from %}#}
{#    {% block custom_js %}#}
{#        <script>#}
{#            let redirectFrom = "{{ redirect_from }}",#}
{#                hideSend = true,#}
{#                hideRecorder = true,#}
{#                muted = true;#}
{#        </script>#}
{##}
{#        {% include "sampleapp/piano_js.html" %}#}
{#    {% endblock %}#}
{#{% endif %}#}