{% extends "base.html" %}

{% block head_title %}
    Welcome || Ting
{% endblock %}

<!-- The main contents of the page. -->
{% block content %}
    <main class="mdl-layout__content">

        <!-- Sign up tab -->
        <form action="{% url 'website:signup' %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Sign up</button>
        </form>

        <!-- Sign in tab -->
        <form action="{% url 'website:signin' %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Sign in</button>
        </form>

        <!-- Try it out tab -->
        <!-- Commented out for now -->
{#        <section class = "mdl-layout__tab-panel" id = "tryit-tab">#}
{#            <div class = "page-content box_div">#}
{#                Try it out placeholder#}
{#                <div class="mdl-grid">#}
{#                    {% include "sampleapp/piano.html" %}#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

    </main>
{% endblock %}

<!-- Commented out for now -->
{#{% if redirect_from %}#}
{#    {% block custom_js %}#}
{#        <script>#}
{#            let redirectFrom = "{{ redirect_from }}",#}
{#                hideSend = true,#}
{#                hideRecorder = true,#}
{#                muted = true;#}
{#        </script>#}
{##}
{#        {% include "sampleapp/piano_js.html" %}#}
{#    {% endblock %}#}
{#{% endif %}#}