{% extends "base.html" %}

{% block head_title %}
Sign in || Ting
{% endblock %}

{% block content %}
    <div class="box_div">
    <h3 class="page_heading">Sign in</h3>
    <hr>

    {% if signin_error %}
        <div class="error">
            {{ signin_error }}
        </div>
    {% endif %}

    <form method="post" action="{% url 'website:signin' %}">

        {% csrf_token %}
        {{ signin_form }}

        <button class="waves-effect waves-light btn-large" type="submit">Sign in</button>
    </form>

    <!-- Social Login. Commented out for now. -->
    {#<br>#}
    {##}
    {#{% load static %}#}
    {#<div class="alt_login_div">#}
    {#    <a id="github_link" href="{% url 'social:begin' 'github' %}" style="padding-right: 30px">#}
    {#        <img class="link_image" src="{% static 'images/github_logo_small.jpg' %}" alt="GitHub Logo">#}
    {#    </a>#}
    {##}
    {#    <a id="twitter_link" href="{% url 'social:begin' 'twitter' %}">#}
    {#        <img class="link_image" src="{% static 'images/twitter_logo_small.jpg' %}" alt="Twitter Logo">#}
    {#    </a>#}
    {#</div>#}
    </div>
{% endblock %}
