<!DOCTYPE html>
{% load static %}
{#<html lang="en" manifest="{% static 'manifest.appcache' %}">#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock head_title %}</title>
    {% include "snippets/css.html" %}
</head>
<body>
    <div class="">
        <nav>
        <div class="nav-wrapper main_bar">
            <a href="{% url 'website:root' %}" class="brand-logo">Ting</a>
            <ul class="right hide-on-med-and-down">
                <li class="about_link_tag some_link"><a href="{% url 'website:about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li class="logout_link_tag some_link"><a href="#">Logout</a></li>
                {% endif %}
            </ul>
        </div>
        </nav>

        {% block content %}{% endblock content %}
    </div>

    {% include "snippets/js.html" %}
    {% block custom_js %}{% endblock %}
    {% if user.is_authenticated %}
        {% load static %}
        <script>
            let firstname = "{{ user.first_name }}",
                lastname = "{{ user.last_name }}";
        </script>
    {% endif %}
{#    <script type="text/javascript" src="{% static "js/appbar.js" %}"></script>#}

</body>
</html>